.navbar {
  background-color: var(--soft-peach);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 50;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  font-family: 'Montserrat', sans-serif;

  &Container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menuItem {
    text-decoration: none;
    color: #333;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease;
    position: relative;

    &:hover {
      color: #666;
    }

    &.active {
      color: #BFA75F;
      font-weight: 600; // Changed to semi-bold
      
      &::after {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #BFA75F;
      }
    }
  }
}

.logo {
  &Container {
    display: flex;
    align-items: center;
    margin-left: 2.5rem;
    min-height: 4rem;
    min-width: 4rem;
  }

  &Image {
    margin-right: 0.5rem;
  }
}

.menu {
  &Desktop {
    display: none;

    @media (min-width: 768px) {
      display: flex;
      gap: 2rem;
    }
  }

  &Item {
    font-family: 'Montserrat', sans-serif !important;
    color: var(--darkerPrimary);
    font-weight: 500;
    font-size: 1.4rem;
    transition: all 0.3s ease;
    position: relative;
    padding: 8px 0;
    text-decoration: none;

    &::after {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 0;
      height: 2px;
      background: linear-gradient(135deg, var(--primary) 0%, var(--darkerPrimary) 100%);
      transition: width 0.3s ease;
    }

    &:hover {
      color: var(--primary);

      &::after {
        width: 100%;
      }
    }
  }

  &Mobile {
    background-color: var(--soft-peach);
    position: absolute;
    width: 100%;
    left: 0;
    padding: 1rem 0;

    @media (min-width: 768px) {
      display: none;
    }

    .menuItem {
      display: block;
      padding: 1rem 2rem;
      color: var(--darkerPrimary);
      text-decoration: none;
      font-size: 1.4rem;
      font-weight: 500;
      font-family: 'Montserrat', sans-serif !important;

      &:hover {
        background-color: var(--ivory-white);
      }
    }
  }

  &Button {
    display: block;
    color: var(--darkerPrimary);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;

    @media (min-width: 768px) {
      display: none;
    }
  }
}